<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.name }} | {{ current_tab.name }}</title>
    <!-- load Poppins and Roboto fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    
    <!-- <link rel="stylesheet" href="{{ asset('resources/core/css/shared.css') }}">
    <link rel="stylesheet" href="{{ asset('resources/post/css/post.css') }}"> -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <script src="{{ asset('js/app.js') }}" defer></script>

</head>
<body>
    <header class="fixed md:relative w-full top-0 left-0">
        <div style="z-index: -1;" class="bdr absolute w-full h-full top-0 left-0 bg-white bg-opacity-70 backdrop-filter backdrop-blur-3xl md:backdrop-filter-none md:bg-opacity-0"></div>
        <nav id="nav" class="flex items-center justify-center py-6 px-4 sm:px-6 lg:px-8">
            <div class="home-link mr-auto">
                <a href="{{ route('home') }}" class="p-3">Inicio</a>
            </div>
            <div class="absolute justify-self-center navigation-link front-link hidden md:block text-xl">
                <a href="{{ route('post_view', [post.seo_name]) }}" class="p-3">{{ post.name|title }}</a>
            </div>
            <div class="hidden ml-auto md:block md:pr-4 md:space-x-8">
                {% for tab in tabs %}
                    <a class="font-medium text-gray-500 hover:text-gray-900 p-3" href="{{ route('post_view', [post.seo_name, tab.seo_name]) }}">{{ tab.name|title }}</a>
                {% endfor %}
                {% if post.schedule_pdf is not empty %}
                    <a class="font-medium text-gray-500 hover:text-gray-900 p-3" href="{{ route('post_schedule', [post.seo_name]) }}">Descarga el programa</a>
                {% endif %}
                <a href="{{ route('post_register', [post.seo_name]) }}" class="font-medium text-indigo-600 hover:text-indigo-500">Registrate</a>
            </div>
            <div class="block md:hidden" x-data="{menuOpen: false}">
                <i class='bx bx-menu-alt-right text-2xl' x-on:click="menuOpen = true"></i>
                <div 
                    x-show.transition.opacity="menuOpen"
                    class="bg-white bg-opacity-60 block md:pointer-events-none h-full w-full z-50 fixed top-0 left-0 backdrop-filter backdrop-blur-3xl"
                >
                    <div class="flex flex-col items-center h-full justify-center px-4 py-12 relative">
                        <i class='bx bx-x text-2xl absolute top-6 right-4' x-on:click="menuOpen = false"></i>
                        <a 
                            href="{{ route('post_view', [post.seo_name]) }}"
                            class="font-ui text-md px-3 py-4 font-bold"
                        >
                            {{ post.name|upper }}
                        </a>
                        {% for tab in tabs %}
                        <a 
                            href="{{ route('post_view', [post.seo_name, tab.seo_name]) }}"
                            class="font-ui text-md px-3 py-4 font-bold tracking-wide"
                        >
                            {{ tab.name|title }}
                        </a>
                        {% endfor %}
                        {% if post.schedule_pdf is not empty %}
                        <a class="font-ui text-md font-bold px-3 py-4" href="{{ route('post_schedule', [post.seo_name]) }}">Descarga el programa</a>
                        {% endif %}
                        <a 
                            href="{{ route('post_register', [post.seo_name]) }}" 
                            class="font-ui text-md font-bold text-indigo-600 px-3 py-4"
                        >
                            Registrate
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div id="post-body" class="mt-20 md:mt-0 p-4 max-w-4xl mx-auto space-y-4 font-sans">
        {% block content %}
            
        {% endblock content %}
    </div>
    <footer class="h-16"></footer>
</body>
</html>