<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ object.nombre }} | {{ object.id }}</title>
    <link rel="stylesheet" href="{{ static('core/css/shared.css') }}">
    <link rel="stylesheet" href="{{ static('post/css/post.css') }}">
</head>
<body>
    <nav id="nav">
        {% for tab in tabs %}
            <a href="">{{ tab.nombre }}</a>
        {% endfor %}
        <a href="/cms/{{ tab.nombre }}/register/">REGISTRO</a>
    </nav>
    <div id="post-body">
        {% block content %}
            
        {% endblock content %}
    </div>

</body>
</html>