<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="csrf-token" content="{{ csrf_token() }}">
	<meta charset="utf-8">

	<title>Inicio | Publicaciones</title>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">


	<!-- Core styles -->
	<link rel="stylesheet" href="{{ asset('css/app.css') }}">
	<link rel="stylesheet" href="{{ asset('resources/core/css/extra.css') }}">
	<link rel="stylesheet" href="{{ asset('resources/core/css/landing.css') }}">
	<script src="{{ asset('js/app.js') }}" defer></script>
	
</head>

<body class="bg-gray-100">
    {% block header %}
	<header class="border-solid border-gray-200 border-b">
        <nav class="bg-white px-8 py-5 flex justify-between items-center header">
            {% block logo %}
            <div class="flex items-center justify-center">
                <span class="text-xl font-bold md:text-2x1">UTBB</span>
			</div>
            {% endblock logo %}

            {% block navigation %}
			<div class="flex">
                {% if auth_check() %}
				<div class="profile relative" x-data="{open: false}" @click="open = true">
					<div class="info">
						<p class="name">{{ auth_user().name }}</p>
						<p class="email">{{ auth_user().email }}</p>
					</div>
					<div id="profile-menu" x-show="open" @click.away="open = false">
						{% if auth_user().user_type == constant('App\\Models\\User::ADMIN') %}
						<a href="{{ route('dashboard.home') }}" class="menu-item">
							Dashboard
						</a>	
						{% endif %}
						<a href="{{ route('logout') }}" class="menu-item">
							Cerrar sesión
						</a>
					</div>
				</div>
                {% else %}
				<a href="{{ route('login') }}" class="text-sm font-ui text-blue-700 py-2 px-4">Inicia sesión</a>
				<a href="{{ route('user_register') }}" class="text-sm font-ui font-light text-white bg-blue-700 py-2 px-4 rounded-lg">Registrate</a>
                {% endif %}
			</div>
            {% endblock navigation %}
		</nav>
        
        {% block hero %}{% endblock hero %}
	</header>
    {% endblock header %}
    {% block content %}{% endblock content %}
    <footer class="h-16"></footer>
</body>

</html>