<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">

	<!-- Core styles -->
	<link rel="stylesheet" href="{{ asset('resources/core/css/shared.css') }}">

	<link href="https://unpkg.com/vuesax@4.0.1-alpha.25/dist/vuesax.min.css" rel="stylesheet">
	<!-- Box icons -->
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<style>
		#grid {
			display: grid;
			align-items: center;
			gap: 20px;
			grid-gap: 20px;
			grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		}
	</style>
</head>

<body>
	{{ dump() }}
	<div id="app">
		<div id="grid">
			{% for post in posts %}
			<vs-card>
				<template #title>
					<h3>{{ post.nombre }}</h3>
				</template>
				<template #img>
					<img src="https://picsum.photos/seed/{{ post.id }}/300/200/" alt="">
				</template>
				<template #text>
					<p>
						<i class='bx bxs-shield'></i>&nbsp;{{ post.created_at.format('d-m-Y') }}
					</p>
				</template>
			</vs-card>
			{% else %}
			<h3>EMPTY</h3>
			{% endfor %}
		</div>
	</div>
	<script src="{{ asset('resources/core/js/vue.js') }}"></script>
	<script src="https://unpkg.com/vuesax@4.0.1-alpha.25/dist/vuesax.min.js"></script>
	<script>
		var vm = new Vue({
			delimiters: ['[[', ']]'],
			el: '#app',
		})
	</script>
</body>

</html>