{% extends 'dashboard/base.html' %}

{% block styles %}
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />

<style>
    .fab {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        /* background-color: #292929; */
        /* color: #fff; */
        font-size: 20px;
    }

    .filepond--panel-root {
        border-radius: 2em;
        background-color: rgb(244, 247, 248);
        height: 1em;
    }

    .con-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    .con-footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    button a{
        display: inherit;
        text-decoration: none;
        color: inherit;
    }

    .not-margin {
        margin: 0;
        padding: 10px;
    }

    .footer-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: calc(100%);
    }

    #grid {
        display: grid;
        align-items: center;
        gap: 20px;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
</style>
{% endblock styles %}


{% block content %}
<!-- https://picsum.photos/seed/picsum/ -->
<div id="grid">
    {% for post in posts %}
    <vs-card>
        <template #title>
            <h3>{{ post.name }}</h3>
        </template>
        <template #img>
            <img src="https://picsum.photos/seed/{{ post.id }}/300/200/" alt="">
        </template>
        <template #text>
            <p>
                <i class='bx bxs-shield'></i>&nbsp;{{ post.user.name }}
            </p>
        </template>
        <template #interactions>
            <vs-button href="{{ route('dashboard.post_edit', [post.id]) }}" primary icon>
                <i class='bx bx-edit-alt'></i>
            </vs-button>
            <vs-button danger icon>
                <a @click="promptDelete" href="{{ route('dashboard.post_delete', [post.id]) }}">
                    <i class='bx bx-trash'></i>
                </a>
            </vs-button>
        </template>
    </vs-card>
    {% else %}
    <h3>Empty</h3>
    {% endfor %}
    <vs-card v-for="post in newPosts">
        <template #title>
            <h3>[[ post.name ]]</h3>
        </template>
        <template #img>
            <img :src="'https://picsum.photos/seed/'+post.id+'/300/200/'" alt="">
        </template>
        <template #text>
            <p>
                <i class='bx bxs-shield'></i>&nbsp;[[ post.user.name ]]
            </p>
        </template>
        <template #interactions>
            <vs-button :href="post.edit_url" primary icon>
                <i class='bx bx-edit-alt'></i>
            </vs-button>
            <vs-button danger icon>
                <a @click="promptDelete" :href="post.delete_url">
                    <i class='bx bx-trash'></i>
                </a>
            </vs-button>
        </template>
    </vs-card>
</div>

<vs-dialog v-model="postCreateDialogActive">
    <template #header>
        <h4 class="not-margin">
            Crea un nuevo congreso
        </h4>
    </template>


    <div class="con-form">
        <vs-input v-model="formData.name" placeholder="Nombre" block>
            <!-- ToDo: Add server side Errors -->
            <template #message-danger v-if="errors.name">
                [[ errors.name ]]
            </template>
        </vs-input>
        <vs-select placeholder="Visibilidad" v-model="formData.public" block>
            <!-- ToDo: Add server side Errors -->
            <template #message-danger v-if="errors.public">
                [[ errors.public ]]
            </template>
            <vs-option label="Privado" value="0">
                Privado
            </vs-option>
            <vs-option label="Publico" value="1">
                Publico
            </vs-option>
        </vs-select>
        <file-pond ref="pond" label-idle="Coloca el archivo del programa aqui..." instant-upload="false"
            accepted-file-types="application/pdf" @updateFiles="handleUpdateFiles" />
    </div>

    <template #footer>
        <div class="footer-dialog">
            <vs-button block @click="createPost">
                Crear
            </vs-button>
        </div>
    </template>
</vs-dialog>

<vs-dialog width="550px" not-center v-model="postDeletePromptActive">
    <template #header>
        <h4 class="not-margin">
            Eliminar congreso
        </h4>
    </template>


    <div class="con-content">
        <p>
            ¿Estás seguro que deseas eliminar esta publicación? Todos los datos relacionados se perderan para siempre.
        </p>
    </div>

    <template #footer>
        <div class="con-footer">
            <vs-button @click="confirmDelete" danger>
                Eliminar
            </vs-button>
            <vs-button @click="postDeletePromptActive=false" dark transparent>
                Cancelar
            </vs-button>
        </div>
    </template>
</vs-dialog>

<vs-button circle icon floating @click="postCreateDialogActive = true" class="fab">
    <i class='bx bx-plus'></i>
</vs-button>
<!-- <a href="{#{ route('dashboard.post_create') }#}" class="fab btn">
    <i class='bx bxs-layer-plus'></i>
</a> -->
{% endblock content %}


{% block scripts %}
<script src="https://unpkg.com/filepond"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/vue-filepond@^6.0.0"></script>
<script>
    var vm = new Vue({
        mixins: [dashboard_mixin],
        components: {
            FilePond: vueFilePond.default(FilePondPluginFileValidateType),
        },
        data: function () {
            return {
                newPosts: [],
                active: 'post',
                file: null,
                postCreateDialogActive: false,
                postDeletePromptActive: false,
                unconfirmedDeleteUrl: '',
                formData: {
                    name: '',
                    public: '0',
                },
                errors: {},
            };
        },
        methods: {
            handleUpdateFiles: function () {
                this.file = this.$refs.pond.getFile()?.file;
            },
            setFormData: function () {
                let formData = new FormData();
                formData.append('name', this.formData.name);
                formData.append('public', this.formData.public);
                formData.append('schedule_pdf', this.file);
                return formData;
            },
            isValid: function () {
                let valid = true;
                this.errors = {};
                if (this.formData.name == '') {
                    this.errors.name = 'El nombre no puede estar vacío.';
                    valid = false;
                }

                if (![0, 1, '0', '1'].includes(this.formData.public)) {
                    this.errors.public = 'Elemento invalido';
                    valid = false;
                }
                return valid;
            },
            createPost: function () {
                if (!this.isValid()) { return; }
                let formData = this.setFormData();
                let init = {
                    headers: {
                        // 'Content-Type': 'multipart/form-data',
                        'X-XSRF-TOKEN': this.getCookie('XSRF-TOKEN'),
                        'Accept': 'application/json',
                    },
                    method: 'POST',
                    body: formData,
                };
                fetch('/cms/api/posts/', init)
                    .then(response => response.json())
                    .then(data => {
                        this.newPosts.push(data.data);
                        this.formData.name = '';
                        this.formData.public = '0';
                        this.file = null;
                        this.postCreateDialogActive = false;
                    });
            },
            promptDelete: function (e) {
                this.postDeletePromptActive = true;
                e.preventDefault();
                this.unconfirmedDeleteUrl = e.currentTarget.href;
            },
            confirmDelete: function(){
                this.postDeletePromptActive = false;
                document.location.href = this.unconfirmedDeleteUrl;
            },
        }
    });
</script>
{% endblock scripts %}