{% extends 'dashboard/base.html' %}


{% block styles %}
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
<style>
    #main-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* margin-bottom: 20px; */
    }

    #tab-row {
        flex-grow: 1;
        display: flex;
        align-items: center;
        align-items: center;
        user-select: none;
        min-width: 0;
        overflow: hidden;
        padding: 10px 0 20px 0;
    }

    #tab-row>.tab {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        min-width: 60px;
        border-radius: 8px;
        margin: 0 4px;
        padding: 10px;
        border: 1px solid transparent;
        font-size: 12px;
        cursor: pointer;
    }

    #tab-row>.tab>.content {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #tab-row>.tab .delete-icon {
        /* Weird margin if not flex or grid */
        display: flex;
        padding: 2px;
        border-radius: 2px;
        font-size: 14px;
    }

    #tab-row>.tab .delete-icon:hover {
        background: #e2e4eb;
    }

    #tab-row>.tab.selected {
        box-shadow: 5px 5px 15px rgba(102, 109, 255, 0.1);
        border: 1px solid #d2d7e6;
    }

    #tab-row>button {
        flex-shrink: 0;
        position: sticky;
        right: 0;
    }

    .button-icon {
        width: 16px;
        height: 16px;
    }
    img.icon{
        width: 16px;
        height: 16px;
        margin-right: 12px;
    }

    #editor-wrapper {
        padding: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 5px 5px 15px rgba(102, 109, 255, 0.1);
    }

    #editor-head {
        display: flex;
        justify-content: flex-end;
    }

    #action-row {
        display: flex;
        align-items: center;
    }

    #empty-message {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: rgba(255, 255, 255, .6);
        z-index: 2;
    }

    .modal-footer{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .not-margin {
        margin: 0;
        padding: 10px;
    }
    .con-content .setting{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        gap: 16px;
    }
    .con-content .current-file{
        margin-bottom: 20px;
    }
    .con-content .setting > *{
        margin: 0;
    }
    .con-content .setting > label{
        display: flex;
        align-items: center;
    }
</style>
<style>
    .tab-list-enter-active, .tab-list-leave-active{
        transition: all .3s ease;
    }
    .tab-list-leave-active{
        position: absolute;
        /* z-index -1 disables the animation but prevents the item from going crazy */
        z-index: -1;
    }
    .tab-list-enter, .tab-list-leave-to{
        opacity: 0;
        transform: translateX(-20px);
    }
</style>
<style>
    .filepond--panel-root {
        border-radius: 2em;
        background-color: rgb(244, 247, 248);
        height: 1em;
    }
</style>
{% endblock styles %}

{% block header_title %}{{ post.name }}{% endblock header_title %}

{% block content %}
<div id="main-controls">
    <!-- fetch -->
        <transition-group name="tab-list" id="tab-row" tag="div">
            <span 
                class="tab"
                :class="{selected: selectedTab?.id == tab.id}"
                @click="handleSelectedTab(tab)"
                v-for="tab in tabs"
                :key="tab.id"
            >
                <span class="content">[[ tab.name ]]</span>
                <span
                    v-if="!tab.is_front_page"
                    class="delete-icon"
                    @click.stop="promptDeleteTab(tab)"
                >
                    <i class='bx bx-x'></i>
                </span>
            </span>
            <vs-button :key="-1" icon transparent class="image-icon" @click="prompt">
                <img class="button-icon" src="{{ asset('resources/dashboard/icons/plus.svg') }}" alt="">
                <!-- <i class='bx bx-plus' ></i> -->
            </vs-button>
        </transition-group>
    <div id="action-row">
        <vs-button
            :href="`{{ route('post_view', [post.seo_name]) }}${selectedTab == null ? '' : '/'+selectedTab.seo_name}`"
            shadow
        >
            <img src="{{ asset('resources/dashboard/icons/eye.svg') }}" alt="" class="icon">
            Previsualizar
        </vs-button>
        
        <vs-button dark icon @click="postSettingsModalActive = true">
            <i class="bx bx-cog"></i>
        </vs-button>
    </div>
</div>
<div id="editor-wrapper">
    <div id="editor-head">
        <vs-button :disabled="selectedTab === null" danger icon @click="revert"><i class='bx bx-undo'></i></vs-button>
        <vs-button :disabled="selectedTab === null" :loading="saveIconLoading" dark icon @click="save"><i class='bx bx-save'></i>
        </vs-button>
    </div>
    <div id="editorjs"></div>
    <div id="empty-message" v-if="selectedTab === null">
        Selecciona una página a editar o crea una página nueva.
    </div>
</div>

<vs-dialog width="300px" not-center v-model="newTabModal">
    <template #header>
        <h4 class="not-margin">
            Crear una página.
        </h4>
    </template>

    <div class="con-content">
        <vs-input
            @keyup.enter="createTab"
            v-model="newTabName"
            placeholder="Nombre (único)"
            block
        >
            <template #message-danger v-for="errorMessage in createTabErrors">
                [[ errorMessage ]]
            </template>
        </vs-input>
    </div>

    <template #footer>
        <div class="modal-footer">
            <vs-button @click="createTab" :loading="createButtonLoading" transparent>
                Guardar
            </vs-button>
            <vs-button @click="newTabModal=false" dark transparent>
                Cancelar
            </vs-button>
        </div>
    </template>
</vs-dialog>

<vs-dialog width="550px" not-center v-model="tabDeletePromptActive">
    <template #header>
        <h4 class="not-margin">
            Eliminar página
        </h4>
    </template>


    <div class="con-content">
        <p>
            ¿Estás seguro que deseas eliminar esta página? Todos los datos relacionados se perderan para siempre.
        </p>
    </div>

    <template #footer>
        <div class="modal-footer">
            <vs-button @click="confirmTabDelete" danger>
                Eliminar
            </vs-button>
            <vs-button @click="tabDeletePromptActive=false" dark transparent>
                Cancelar
            </vs-button>
        </div>
    </template>
</vs-dialog>

<vs-dialog not-center v-model="postSettingsModalActive">
    <template #header>
        <h4 class="not-margin">Ajustes de la publicación</h4>
    </template>
    <div class="con-content">
        <div class="setting">
            <label>Privacidad</label>
            <vs-switch v-model="postIsPublic">
                <template #off>
                    <i class='bx bxs-lock' ></i>
                </template>
                <template #on>
                    <i class='bx bxs-lock-open' ></i>
                </template>
            </vs-switch>
        </div>
        <div class="setting">
            <vs-input v-model="startDate" type="date" label="Fecha de inico">
                <template #message-danger v-for="error in updatePostErrors.start_date" class="aaa">
                    [[ error ]]
                </template>
            </vs-input>
            <vs-input v-model="endDate" type="date" label="Fecha de cierre">
                <template #message-danger v-for="error in updatePostErrors.end_date">
                    [[ error ]]
                </template>
            </vs-input>
        </div>
        <p>PDF del programa.</p>
        {% if post.schedule_pdf is not empty %}
        <div class="current-file">
            <a href="{{ asset("storage/#{post.schedule_pdf}") }}" target="_blank">
                Archivo actual
            </a>
        </div>
        {% endif %}

        <file-pond ref="pond" label-idle="Coloca el archivo del programa aqui..." instant-upload="false"
            accepted-file-types="application/pdf" @updateFiles="handleUpdateFiles" />

    </div>
    <template #footer>
        <div class="modal-footer">
            <vs-button dark @click="savePostChanges" :loading="updatePostButtonLoading">
                <img src="{{ asset('resources/dashboard/icons/calendar.svg') }}" alt="" class="icon">
                Guardar cambios
            </vs-button>
        </div>
    </template>
</vs-dialog>
{% endblock content %}


{% block scripts %}
<script src="https://unpkg.com/filepond"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/vue-filepond@^6.0.0"></script>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@2.20"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@editorjs/attaches@latest"></script> -->
<script src="{{ asset('resources/dashboard/js/editorjs-attaches.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/editorjs-table@1.4.10/dist/bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/underline@latest"></script>

<script>
    const POST_ID = {{ post.id }};
    const POST_IS_PUBLIC = {{ post.public }};
    const START_DATE = "{{ post.start_date ?? '' }}";
    const END_DATE = "{{ post.end_date ?? '' }}";
</script>
<script>
    var vm = new Vue({
        mixins: [dashboard_mixin],
        delimiters: ['[[', ']]'],
        components: {
            FilePond: vueFilePond.default(FilePondPluginFileValidateType),
        },
        data: function () {
            return {
                file: null,
                newTabModal: false,
                postSettingsModalActive: false,
                newTabName: null,
                postIsPublic: POST_IS_PUBLIC ? true : false, // now it gets type sensitive huh?
                startDate: START_DATE,
                endDate: END_DATE,
                active: 'post',
                tabs: [],
                counter: 0,
                selectedTab: null,
                editor: null,
                editorData: null,
                saveIconLoading: false,
                updatePostButtonLoading: false,
                createButtonLoading: false,
                tabToDelete: null,
                tabDeletePromptActive: false,
                createTabErrors: [],
                updatePostErrors: {},
            };
        },
        methods: {
            prompt: function(){
                this.newTabModal = true;
            },
            handleUpdateFiles: function () {
                this.file = this.$refs.pond.getFile()?.file ?? null;
            },
            handleSelectedTab: function (tab) {
                if(this.selectedTab?.id == tab.id){
                    return;
                }
                this.selectedTab = tab;
                let init = {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                };
                fetch(`/cms/api/tabs/${tab.id}/`, init)
                    .then(response => response.json())
                    .then(data => {
                        // if(data.success){
                            let tabData = JSON.parse(data.data.content);
                            this.editorData = tabData;
                            this.refreshEditor(tabData);
                            // add the tab id to the image plugin config so it can send it to the api endpoint
                            this.editor.configuration.tools.image.config.additionalRequestData.tab_id = this.selectedTab.id;
                        // }else{
                            // console.error(data.errors);
                        // }
                    }).catch(console.error);
            },
            savePostChanges: function(){
                this.updatePostButtonLoading = true;
                Promise.all([this.updatePost(), this.uploadPostFile()]).then(data => {
                    let updateData = data[0];
                    console.log(updateData);
                    if('errors' in updateData){
                        this.updatePostErrors = updateData.errors;
                        this.updatePostButtonLoading = false;
                        return;
                    }
                    this.updatePostButtonLoading = false;
                });
            },
            updatePost: function(){
                let data = {
                    public: this.postIsPublic,
                    start_date: this.startDate,
                    end_date: this.endDate,
                };
                let init = {
                    'method': 'PATCH',
                    'headers': {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'X-XSRF-TOKEN': this.getCookie('XSRF-TOKEN'),
                    },
                    body: JSON.stringify(data),
                };
                return fetch(`/cms/api/posts/${POST_ID}/`, init)
                    .then(response => response.json());
            },
            uploadPostFile: function(){
                let formData = new FormData();
                formData.append('schedule_pdf', this.file);
                let init = {
                    headers: {
                        'X-XSRF-TOKEN': this.getCookie('XSRF-TOKEN'),
                        'Accept': 'application/json',
                    },
                    method: 'POST',
                    body: formData,
                };
                return fetch(`/cms/api/posts/${POST_ID}/schedule/`, init)
                    .then(response => response.json());
            },
            updateTabContent: function (){
                let data = {
                    content: this.editorData,
                };
                let init = {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'X-XSRF-TOKEN': this.getCookie('XSRF-TOKEN'),
                    },
                    body: JSON.stringify(data),
                };
                fetch(`/cms/api/tabs/${this.selectedTab.id}/`, init)
                    .then(response => response.json())
                    .then(data => {
                        let tabData = JSON.parse(data.data.content);
                        this.editorData = tabData;
                    });
            },
            promptDeleteTab: function(tab){
                this.tabToDelete = tab;
                this.tabDeletePromptActive = true;
            },
            confirmTabDelete: function(){
                this.deleteTab(this.tabToDelete);
                this.tabToDelete = null;
                this.tabDeletePromptActive = false;
            },
            deleteTab: function (tab) {
                if (this.selectedTab?.id == tab.id) {
                    this.selectedTab = null;
                    // clear the editor if the deleted the selected tab
                    this.editor.clear();
                }
                // First remove the element from the DOM to prevent double clicking while performing deletion
                let removeIndex = this.tabs.map(item => item.id).indexOf(tab.id);
                ~removeIndex && this.tabs.splice(removeIndex, 1);
                let init = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'X-XSRF-TOKEN': this.getCookie('XSRF-TOKEN'),
                    },
                };
                fetch(`/cms/api/tabs/${tab.id}/delete/`, init)
                    // .then(response => response.json())
                    .then((_) => '')
                    .then(data => {
                        // if(data.success){
                            this.fetchTabs();
                            // this.refreshEditor(this.editorData);
                        // }else{
                            // console.log(data.errors);
                        // }
                    }).catch(error => {console.log('E:', error)});
                // console.log(`deleting tab ${tab.name} with id ${tab.id} (not really)`);
                // let removeIndex = this.tabs.map(item => item.id).indexOf(tab.id);
                // ~removeIndex && this.tabs.splice(removeIndex, 1);
            },
            createTab: function () {
                // fake code
                if(!this.newTabName){
                    console.log('error empty name');
                }
                this.createButtonLoading = true;
                let data = {
                    'name': this.newTabName,
                    'content': null,
                    'post_id': POST_ID,
                };
                // fetch
                let init = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'X-XSRF-TOKEN': this.getCookie('XSRF-TOKEN'),
                    },
                    body: JSON.stringify(data),
                };
                fetch('/cms/api/tabs/', init)
                    .then(response => response.json())
                    .then(data => {
                        this.createButtonLoading = false;
                        if('errors' in data){
                            this.createTabErrors = data.errors.name;
                            return;
                        }
                        this.createTabErrors = [];
                        this.newTabName = null;
                        this.newTabModal = false;
                        this.fetchTabs();
                    }).catch(console.error);
            },
            fetchTabs: function(){
                fetch(`/cms/api/posts/${POST_ID}/tabs/`)
                    .then(response => response.json())
                    .then(data => {
                        this.tabs = data.data;
                    }).catch(console.log);
            },
            save: function () {
                this.saveIconLoading = true;
                this.editor.save().then(saveData => {
                    this.editorData = saveData;
                    console.log(JSON.stringify(saveData));
                    this.updateTabContent();
                    this.saveIconLoading = false;
                });
            },
            revert: function () {
                this.refreshEditor(this.editorData);
            },
            refreshEditor: function (data){
                console.log('cleared');
                this.editor.clear();
                if(data != null){
                    console.log('refreshing');
                    this.editor.render(data);
                }
            },
            initEditor: function () {
                this.editor = new EditorJS({
                    holder: "editorjs",
                    /**
                     * This Tool will be used as default
                     */
                    initialBlock: "paragraph",
                    placeholder: "...",
                    tools: {
                        underline: Underline,
                        header: {
                            class: Header,
                            shortcut: "CMD+SHIFT+H",
                        },
                        list: {
                            class: List,
                            inlineToolbar: true,
                        },
                        table: {
                            class: Table,
                            inlineToolbar: true,
                        },
                        attaches: {
                            class: AttachesTool,
                            config: {
                                endpoint: '/cms/api/tabs/attachments/',
                                additionalRequestHeaders: {
                                    'Accept': 'application/json',
                                    'X-XSRF-TOKEN': this.getCookie('XSRF-TOKEN'),
                                }
                            }
                        },
                        image: {
                            class: ImageTool,
                            config: {
                                endpoints: {
                                    byFile: '/cms/api/tabs/images/',
                                    // Images by url will just return the original source with a custom handler
                                    byUrl: '',
                                },
                                uploader: {
                                    uploadByUrl: (fileUrl) => Promise.resolve({success: 1, file: {url: fileUrl,},}),
                                },
                                additionalRequestHeaders: {
                                    'Accept': 'application/json',
                                    'X-XSRF-TOKEN': this.getCookie('XSRF-TOKEN'),
                                },
                                additionalRequestData: {
                                    post_id: POST_ID,
                                },
                            },
                        }
                    },
                    onReady: function () {
                        // console.log("ready");
                    },
                    onChange: function () {
                        // console.log("change");
                    }
                });
            }
        },
        created: function(){
            this.fetchTabs();
            this.initEditor();
        },
        //mounted: function () {
            // this.$nextTick(function () {
            //     this.fetchTabs();
            //     this.initEditor();
            // });
        //},
    });
</script>
{% endblock scripts %}