<table class="shadow-lg rounded-lg bg-white w-full overflow-hidden">
    <thead>
        <tr class="bg-gray-200 border-gray-300 border-solid border-0 border-b">
        {% for th in content[0] %}
            <th class="h-12 px-6 text-sm font-bold">{{ th }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in content[1:] %}
            <tr class="border-gray-300 border-solid border-0 border-b last:border-b-0">
                {% for td in row %}
                <td class="h-12 px-6 text-sm">{{ td }}</td>
                {% endfor %}    
            </tr>
        {% endfor %} 
    </tbody>
</table>