{% extends 'dashboard/base.html' %}


{% block styles %}
<style>
    #table {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 5px 20px 0 rgba(0,0,0,0.06);
    }
    .switch-wrap{
        display: flex;
    }
    .expand-data{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
    }
</style>    
{% endblock styles %}

{% block header_title %}Participantes{% endblock header_title %}

{% block content %}
<div id="table">
    <vs-table>
        <template #header>
            <vs-select
                filter
                @change="changePostFilter"
                placeholder="Selecciona un congreso"
                v-model="selectedPost"
                {% if posts is empty %}disabled{% endif %}
            >
                {% for post in posts %}
                    <vs-option label="{{ post.name }}" value="{{ post.name }}|{{ post.id }}">{{ post.name }}</vs-option>
                {% endfor %}            
            </vs-select>
        </template>
        <template #thead>
            <vs-tr>
                <vs-th sort @click="sort($event, 'name')">Nombre</vs-th>
                <vs-th sort @click="sort($event, 'email')">Correo</vs-th>
                <vs-th>Celular</vs-th>
                <vs-th sort @click="sort($event, 'sex')">Sexo</vs-th>
                <vs-th sort @click="sort($event, 'payment_verified')">Pagado</vs-th>
            </vs-tr>
        </template>
        <template #tbody>
            <vs-tr
                :key="i"
                v-for="(item, i) in participants"
                :data="item"
            >
                <vs-td>[[ item.name ]]</vs-td>
                <vs-td>[[ item.email ]]</vs-td>
                <vs-td>[[ item.cellphone ]]</vs-td>
                <vs-td>[[ item.sex ]]</vs-td>
                <vs-td>
                    <div class="switch-wrap">
                        <vs-switch
                            v-model="item.payment_verified"
                            @click.stop="updatePaymentStatus(item.id, item.payment_verified)"
                        >
                        </vs-switch>
                    </div>
                </vs-td>
                <template #expand>
                    <div class="expand-data">
                        <a :href="item.payment_file" target="_blank">Comprobante de pago</a>
                    </div>
                </template>
            </vs-tr>
        </template>
        <template #footer v-if="totalPages > 1">
            <vs-pagination @input="changePage" v-model="currentPage" :length="totalPages" />
        </template>
    </vs-table>
</div>
{% endblock content %}


{% block scripts %}
<script>
    var vm = new Vue({
        mixins: [dashboard_mixin],
        delimiters: ['[[', ']]'],
        data: function(){
            return {
                active: 'participants',
                participants: [],
                sortAttr: null,
                sortDir: null,
                pageSize: 10,
                currentPage: 1,
                totalPages: null,
                selectedPost: '',
            }
        },
        methods: {
            changePage: function(page){
                this.currentPage = page;
                this.fetchParticipants();
            },
            changePostFilter: function(){
                this.fetchParticipants();
            },
            updatePaymentStatus: function(participantId, currentStatus){
                let selectedPost = this.selectedPost.split('|')[1];
                let data = {
                    payment_verified: !currentStatus,
                };
                console.log('current status: ', !currentStatus);
                let init = {
                    'method': 'PATCH',
                    'headers': {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'X-XSRF-TOKEN': this.getCookie('XSRF-TOKEN'),
                    },
                    body: JSON.stringify(data),
                };
                fetch(`/cms/api/posts/${selectedPost}/participants/${participantId}/`, init)
                    .then(response => {
                        if(response.status === 200){
                            return response.json()
                        }else{
                            throw new Error('Algo salió mal, por favor contacta al administrador.');
                        }
                    })
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error => {
                        this.openNotification('top-right', 'danger', '¡¡¡ERROR!!!', error.message);
                    });
            },
            fetchParticipants: function(){
                // obtain the id of the selected post this way bc vuesax's select is broken
                let selectedPost = this.selectedPost.split('|')[1];
                url = `/cms/api/posts/${selectedPost}/participants/?page=${this.currentPage}`;
                if(this.sortAttr != null){
                    url += `&orderBy=${this.sortAttr}&direction=${this.sortDir}`;
                }
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        this.participants = data.data;
                        this.totalPages = data.meta.last_page;
                    }).catch(console.error);
            },
            sort: function(event, sortAttr){
                if(!this.selectedPost){
                    return;
                }
                this.changeSort(event, sortAttr);
                this.sortAttr = sortAttr;
                this.fetchParticipants();
            },
            changeSort: function(event, sortAttr){
                let el = event.target;
                let parent = el.parentElement;
                if(this.sortAttr != sortAttr){
                    // reset all sort arrows if sorting by a different attribute
                    parent.querySelectorAll('th').forEach(th => {th.removeAttribute('data-sort-type')});
                }
                let sortType = el.dataset['sortType'] || 'desc';
                if(sortType == "null"){
                    sortType = 'desc';
                }else if(sortType == 'desc'){
                    sortType = 'asc';
                }else if(sortType == 'asc'){
                    sortType = 'desc';
                }
                this.sortDir = sortType;
                el.dataset['sortType'] = sortType;
            },
        },
        created: function(){
            // this.fetchAuthors();
        }
    });
</script>
{% endblock scripts %}